.container{
    border: 1px solid palevioletred;
    background-color: pink;
    width: 300px;
    font-size: large;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 12px;

}

.button{
    margin-left: 30px;
    color:  red;
    font-size: xx-large;
}

.message{
    padding-left: 10px;
}